div.
  <iframe src="https://www.youtube.com/embed/**************" ……></iframe>

//- 出力結果
<div>
 <iframe src="https://www.youtube.com/embed/**************" ……></iframe>
</div>

p.
 タグ内テキストタグ内テキストタグ内テキストタグ内テキスト

//- // 出力結果
<p>タグ内テキストタグ内テキストタグ内テキストタグ内テキスト</p>

script.
 const message = 'hogehoge';
 alert(message);

//- 出力結果
<script>
 const message = 'hogehoge';
 alert(message);
</script>


