p ブロックレベル要素です 
 span このテキストは1行内に収まります。
  | Pugでは2行目で改行していますが、インラインとして扱われます。
  | Pugでは3行目で改行していますが、インラインとして扱われます。


p テキストテキストテキストテキスト
 br
  | 改行後のテキスト

//-  出力結果
<p>テキストテキストテキストテキスト<br>改行後のテキスト</p>

//- 出力結果
<p>
 <span>このテキストは1行内に収まります。Pugでは2行目で改行していますが、インラインとして扱われます。Pugでは3行目で改行していますが、インラインとして扱われます。</span>
</p>