doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./style.css")
    title Pugを使ったコーディング
  body
    div#wrap
      header
        h1.main_ttl.ttl タイトルタイトルタイトル
      main
        p テキストテキストテキストテキストテキストテキスト 
      footer
